/* START CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* END CSS RESET */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&display=swap");

body {
  width: 100vw;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1658251216561-077bf584633a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=830&q=80);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  display: flex;
  flex-direction: row;
}

aside.left-side {
  width: 35%;
  background-color: transparent;
  color: aliceblue;
}

main.right-side {
  width: 65%;
  background-color: rgb(255, 255, 255);
}

h1 {
  font-size: 97px;
  line-height: 145.5px;
  font-family: "Pacifico", cursive;
}

h3 {
  font-size: 48px;
  line-height: 72px;
  font-family: "Pacifico", cursive;
}

h4 {
  font-size: 34px;
  line-height: 51px;
  font-family: "Montserrat", sans-serif;
}

h6 {
  font-size: 20px;
  line-height: 30px;
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 16px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
}

a {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

a:link,
a:visited {
  color: currentColor;
}

.container {
  display: flex;
  flex-direction: column;

  align-self: center;
  height: 100vh;
}

.right-side .container {
  justify-content: center;
  padding: 0 2rem;
  max-width: 80%;
  color: rgb(23, 23, 23);
}

.left-side .container {
  align-self: center;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-top: 5rem;
  background-color: rgb(0, 0, 0, 0.5);
  width: 100%;
  padding: 1rem;
}

.logo img {
  margin: 0 auto;
  width: 10rem;
}

.text-container p:last-child {
  margin-top: 1rem;
}

form.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 3rem;
}
.form-heading {
  margin-bottom: 1rem;
}

.form-row {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.form-control:first-child {
  padding-right: 2rem;
}

.form-btn {
  margin-top: 2rem;
}

p.login-message {
  margin-top: 1rem;
}
